/* font-family: "Playfair Display", serif; */
/* font-family: "Tinos", serif; alternative of  Times New Roman */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  background: #191a1d;
  /* overflow-x: hidden; */
}

.pointer {
  cursor: pointer;
}
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}
.appbar_holder {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  background: #191a1d;
  /* background: #fff; */
  /* transition: 0.3s; */
}
.MuiAccordion-root::before {
  background-color: rgba(0, 0, 0, 0) !important;
}
.slider-container img {
  width: 100%;
}
.card_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  gap: 30px;
  flex-wrap: wrap;
}
.card_holder2 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0px;
  gap: 30px;
  flex-wrap: wrap;
}

.two_part_card {
  background: #f6f6f6;
  padding: 15px;
  border-radius: 20px;
  box-sizing: border-box;
  flex: 0 0 calc(50% - 15px);
}
.three_part_card {
  flex: 0 0 calc(33% - 17px);
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid #202124;
  border-radius: 16px;
  background: linear-gradient(180deg, #191a1d 0%, rgba(25, 26, 29, 0) 100%);
  transition: 0.5s;
}
.card_style {
  box-sizing: border-box;
  padding: 30px;
  border: 1px solid #202124;
  border-radius: 16px;
  background: #191a1d;
  transition: 0.5s;
}
.tech_card {
  border: 2px solid rgba(76, 77, 84, 0.2);
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(32, 33, 36, 0) 0%, #202124 100%);

  position: relative;
  transition: all 0.2s linear;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tech_logo_holder {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.tech_logos:hover .zoom_effect_icon {
  scale: 0.75;
  /* width: 28px !important; */
}
.three_part_card:hover {
  background: #202124;
}
.three_part_card:hover svg {
  right: -7px;
}
.three_part_card:hover h6,
.three_part_card:hover a {
  color: #00ffa3;
}
.four_part_card {
  flex: 0 0 calc(25% - 30px);
  box-sizing: border-box;
  position: relative;
}
.four_part_card:hover .number_Style {
  color: #fff;
}
.six_part_card {
  width: 180px;
  box-sizing: border-box;
}

.home_page_project {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

.client_review_container {
  position: relative;
  overflow: hidden;
}
.image_contrainer {
  position: relative;
  overflow: hidden;
}
.image_contrainer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.3),
    rgba(228, 228, 228, 0)
  );
  z-index: 1; /* Place the gradient overlay on top of the image */
}
.home_page_project::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)); */
  z-index: 1; /* Place the gradient overlay on top of the image */
}

.home_page_project img {
  width: 100%;
  height: 355px;
  object-fit: cover;
}
.client_review_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.no_link_design {
  color: inherit;
  text-decoration: none;
}

.zoom_effect {
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.zoom_effect:hover {
  transform: scale(1.3); /* Zoom in by 10% */
}
@media screen and (max-width: 1536px) {
  .home_page_project img {
    height: 240px;
  }
  .card_holder {
    gap: 15px;
  }
  .two_part_card {
    flex: 0 0 calc(50% - 7.5px);
  }
  .four_part_card {
    flex: 0 0 calc(25% - 15px);
  }
  /* .six_part_card {
    flex: 0 0 calc(16% - 42px);
  } */
}
@media screen and (max-width: 1200px) {
  .three_part_card {
    flex: 0 0 calc(50% - 15px);
  }
  .home_page_project img {
    height: 220px;
  }
  /* .six_part_card {
    flex: 0 0 calc(16% - 32px);
  } */
  .four_part_card {
    flex: 0 0 calc(50% - 7.5px);
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  .two_part_card {
    flex: 0 0 100%;
    /* flex: 0 0 calc(100% - 60px); */
  }
  .three_part_card {
    flex: 0 0 calc(50% - 15px);
  }
  .card_holder2 {
    gap: 9px;
    justify-content: center;
  }
  /* .six_part_card {
    flex: 0 0 calc(31%);
  } */
}
@media screen and (max-width: 600px) {
  .home_page_project::before {
    top: -5px;
  }
  .card_holder {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .two_part_card {
    flex: 0 0 100%;
    /* flex: 0 0 calc(100% - 3.75px); */
    flex-direction: column;
  }
  .four_part_card {
    margin: 0 20px;
  }
  .card_holder2 {
    gap: 9px;
    justify-content: center;
  }
  .home_page_project,
  .client_review_container {
    width: 80%;
    margin: auto;
  }
  .six_part_card {
    width: 100px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #616161;
}

::selection {
  color: white;
  background: #616161;
}

.tooltip {
  position: fixed; /* Fix the tooltip position relative to the viewport */
  background-color: #fff; /* Tooltip background */
  color: #333; /* Tooltip text color */
  padding: 20px; /* Padding around the text */
  border-radius: 4px; /* Rounded corners */
  font-size: 14px; /* Text size */
  white-space: nowrap; /* Prevent wrapping of the text */
  z-index: 1000; /* Keep the tooltip above other content */
  pointer-events: none; /* Avoid the tooltip blocking mouse events */
  transition: opacity 0.1s ease-in-out; /* Smooth transition */
  opacity: 0.9; /* Semi-transparent tooltip */
  font-family: "Playfair Display", serif;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
.my_slider .slick-prev {
  width: auto;
  height: auto;
  z-index: 50;
  left: -45px;
}

.my_slider .slick-next {
  width: auto;
  height: auto;
  z-index: 50;
  right: -45px;
}
.my_slider .slick-prev::before,
.my_slider .slick-next::before {
  font-size: 50px;
  opacity: 0.85;
}
/* .my_slider .slick-prev {
  left: 15px;
  top: 36%;
  z-index: 50;
}
.my_slider .slick-next {
  right: 60px;
  top: 36%;
  z-index: 50;
}
.my_slider .slick-prev::before,
.my_slider .slick-next::before {
  content: "";
} */

.bottom-right-div {
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* background-color: #f9f9f9; */
  /* padding: 10px 15px;  */
  /* border: 1px solid #ccc;   */
  border-radius: 5px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  */
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.whatsapp_style img {
  width: 50px;
  height: 50px;
  transition: 0.3s;
  animation: zoom 2s infinite;
}
.messanger_style img {
  width: 37px;
  height: 37px;
  transition: 0.3s;
  animation: zoom 2s infinite;
}
.whatsapp_style img:hover,
.messanger_style img:hover {
  scale: 1.2;
}

@keyframes zoom {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
}

@media screen and (max-width: 1536px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (min-width: 601px) and (max-width: 900px) {
  .my_slider .slick-prev::before,
  .my_slider .slick-next::before {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .my_slider .slick-prev::before,
  .my_slider .slick-next::before {
    font-size: 25px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
